* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --color-grey: #eee;
    --color-dark-grey: #222831;
}
html {
    font-size: 10px;
}
p {
    font-size: 1.6rem;
    line-height: 1.5;
}
img {
    width: 30%;
}

/* main css start from here  */
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main h2 {
    font-size: 2.6rem;
    font-weight: 300;
    margin-bottom: 2rem;
}
.slider {
    width: 60%;
    max-width: 60rem;
    height: auto;
    padding: 4rem 5rem;
    position: relative;
    border: 5px solid var(--color-primary);
}
.fa-quote-left {
    font-size: 2.5rem;
    height: 5rem;
    width: 5rem;
    background-color: var(--color-sec);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    left: 2rem;
    top: -3rem;
}

.slide {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.testimonial-text {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    position: relative;
   /* border: 2px solid blue; */
}
.testimonial-text:after {
    content: "";
    position: absolute;
    width: 25%;
    height: 1px;
    background-color: var(--color-sec);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%)
}
.slide-img img {
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    border: 2px solid var(--color-grey);
}
.author-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-sec);
}
.author-text span {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-dark-grey);
}
.buttons {
    position: absolute;
    left: 80%;
    bottom: -2rem;
    width: 9rem;
    border: 2px solid var(--color-sec);
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--white);
    overflow: hidden;
}
.next,
.prev {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}
.next:hover,
.prev:hover {
    background-color: antiquewhite;
}
.next {
    right: 0;
}
.prev {
    left: 0;
}

.next::after, .prev::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.next::after {
    background-image: url(./images/icon-next.svg);
}
.prev::after {
    background-image: url(images/icon-prev.svg);
}

@media screen and (max-width: 600px) {
    .slider {
        width: 90%;
    }
    .buttons {
        left: 75%;
    }
}
 
.slide-2,
.slide-3,
.slide-4
 {
    display: none;
 }.display {
    display: block;
}
